{% extends "global/Base.html" %} {% load staticfiles otree_tags %} {% load list_filter %}
{% block title %} Catch Choice  {% endblock %}

{% block content %}

    <p>
         Select your harvest level for the year,
         but keep in mind that all decisions will be available for all coalitions through ICCAT statistics.
    </p>

    {% formfield player.catch_choice with label="How much will you harvest?" %}

   <div class="panel panel-default">
     <div class="panel-heading">Scientific advice</div>
            <div class="panel-body" >
                <p></p>
                <div id="containerScientificAdvice" style="width: 500px; height: 250px; margin: 0 auto"></div>
                 {% block scripts %}
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <script src="https://code.highcharts.com/highcharts-more.js"></script>

                    <script>
                        {% include "XP1p2/plot_scientificAdvice.js.html" %}
                    </script>

                {% endblock %}
            </div>
     </div>
   </div>

 <div class="panel panel-default">
    <div class="panel-heading"> Profit table </div>
    <div class="panel-body" >


        <style type="text/css">
                .tg  {border-collapse:collapse; margin-left:auto;margin-right:auto;border-color:#ccc;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;;border-top-width:1px;border-bottom-width:1px;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;;border-top-width:1px;border-bottom-width:1px;}
                .tg .tg-s6z2{text-align:center;background-color:#ffffff}
                .tg .tg-bdiw{font-weight:bold;background-color:#344bf9;color:#ffffff;text-align:center}
                .tg .tg-ipa1{font-weight:bold;background-color:#efefef;text-align:center}
        </style>

        <table class="tg">
          <tr>
            <th class="tg-bdiw" rowspan="2"> My harvest (.UVS) </th>
            <th class="tg-bdiw" colspan="{{ Constants.dim_other_choice_catch }}"> Sum of choices made by others (.UVS) </th>
          </tr>

          <tr>
            {% for data in  Constants.other_choice_catch %}
                <td class="tg-ipa1" colspan="2"> {{data}} </td>
            {% endfor %}
          </tr>

             {% for i in  j %}
               <tr>
                    <td class="tg-ipa1">  {{ Constants.choice_catch|index:i }} </td>
                    {% for e in  r %}  <td class="tg-s6z2">  {{ Payoff|index:i|index:e }} </td> {% endfor %}

               </tr>

            {% endfor %}

        </table>

    </div>


  </div>

 <div class="panel panel-default">

     <div class="panel-heading"> Biomass variation rate in Percentage </div>
     <div class="panel-body" >


        <style type="text/css">
                .tg  {border-collapse:collapse; margin-left:auto;margin-right:auto;border-color:#ccc;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;;border-top-width:1px;border-bottom-width:1px;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;;border-top-width:1px;border-bottom-width:1px;}
                .tg .tg-s6z2{text-align:center;background-color:#ffffff}
                .tg .tg-bdiw{font-weight:bold;background-color:#344bf9;color:#ffffff;text-align:center}
                .tg .tg-ipa1{font-weight:bold;background-color:#efefef;text-align:center}
        </style>

        <table class="tg">
          <tr>
            <th class="tg-bdiw" rowspan="2"> My harvest (.1000 t) </th>
            <th class="tg-bdiw" colspan="{{ Constants.dim_other_choice_catch }}"> Sum of choices made by others (.1000 t) </th>
          </tr>

          <tr>
            {% for data in  Constants.other_choice_catch %}
                <td class="tg-ipa1" colspan="2"> {{data}} </td>
            {% endfor %}
          </tr>

             {% for i in  j %}
               <tr>
                    <td class="tg-ipa1">  {{ Constants.choice_catch|index:i }} </td>
                   {% for e in  r %}  <td class="tg-s6z2">  {{ variation|index:i|index:e }} </td> {% endfor %}
               </tr>

            {% endfor %}

        </table>

     </div>
 </div>


    {% next_button %}


{% include Constants.functions_template  %}

{% endblock %}

