{% load staticfiles otree_tags %}
{% load staticfiles  %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
       Functions
    </h3>

    <div class="col-lg-6">
        <p align="center"> <img src="{% static "XP1p1/Growth.png"   %}" style="margin:auto; max-width:100%"/> </p>
    </div>

    <div class="col-lg-6">
        <p align="center"> <img src="{% static "XP1p1/profit.png"   %}" style="margin:auto; max-width:100%"/> </p>
    </div>


    <h4 class="panel-sub-heading">
        Experimental rules
    </h4>

     <p>
        You are not being paid to participate in this experiment, it's only a pre-test experiment, but you have to
        behave as your income during the game will be converted into a real amount of money.
        The main rules are defined below:
     </p>
      <ul>
        <li>Talking is not permitted during the experiment: You can only ''communicate'' with other players using proposition.</li>
        <li>Only the experiment windows are permitted to be open during the experiment: You are not permitted to operate other software such as email or internet during the experiment.</li>
        <li>You may ask questions of the instructor during the experiment Instructors can answer questions about procedures but cannot provide you with advice about decisions or trading. You must make decisions and develop strategies by yourself.</li>
      </ul>

     <p>
         This experiment is concerned with the way people make collective decisions, which impacts on their payoff into
         the future. You will play as a representative and the manager of a Bluefin tuna fishing coalition of nations industry.
         You will be assigned to a fishing coalition which has the same characteristics in term of fishing efficiency and capacity.
         You will harvest the same stock of resource with others nations controlled by a manager, a player, but you
         don't know who are these players and how they plan their fishing activity.
         The game isn't not in a sequential nature like, in other words each year, each round you take a decision in
         term of abstraction from the resource, your decision more the others players decision will be felt in the next
         round.
     </p>
     <p>
         The resource supports a dynamic which is known from players and shown through the ''Growth'' function. This function gives you
         the growth potential of any stock level you left behind you. The maximum growth is reached for a resource of 15
         virtual units of stock (UVS). Each year, each round, you will select the level of catch allowable for your fishing industry.
         You can select this catch from {{ Constants.min_catch }} to {{ Constants.max_catch }} UVS, so each a maximum of
         {{ Constants.max_total_catch }} UVS can be harvested.
         The profit expected from this catch is linked to state of the resource and can be deduced from the ''Profit''
         functions. The harvesting cost is inversely proportional to resource size and gains are proportional to the harvest level.
         In view of these relationships, at the Maximum Sustainable Yield (MSY, the maximum harvest allowing a constant resource size)
         which represent a catch of 6 UVS per year, the total profit share by all coalitions will be 1.6 virtual units of money (UVM).
     </p>
     <p>
         During the experiment you will follow a sequence of 2 decisions. During the first decision phase you will estimate the concurrent coalition harvest.
         This estimation must reflect your anticipation of concurrent harvesting strategy on which you decide your own strategy.
         During this phase you will also make a proposal to all coalitions of your harvest for the year. This information will be used to decide your
         harvest level during the second decision. Keep in mind that all information will be public through ICCAT statistics.
         Each you will be aware of the harvest level of each participant but only after your harvest decision.
     </p>

     <p>
         Depending on the treatment in which you are assiociated with, a critical level of biomass exists which determine an additional cost
         if the threshold Blim is exceeded. This threshold represents a sudden shift in the management regime to mimic the socio-economic
         situation of the Atlantic bluefin tuna fishery.
         The scientific committee of the ICCAT has an uncertain or a perfect (depending on the treatment) method to estimate the critical level of biomass.
         This information is shared in the form of an accurate value of Blim or a range of values [Blim,min:Bmin,max].
     </p>

     <p>
         Finally, during the experiment you will play 2 phases of this game with a different uncertainty on the resource state.
         The accurate information about the resource size Bt will be deteriorate and you will have access only to the
         range of values [Bmin,t;Bmax,t] each year.
     </p>

</div>