$(function () {
    $('#containerScientificAdvice').highcharts({
        chart: {
                type: 'arearange',
                zoomType: 'x'
        },
        title: {
            text: 'Biomass estimation (UVS)',
        },
        xAxis: {
            title: {
                text: 'Years',
            },
            categories: {{ Constants.xp_years }},
        },
        yAxis: {
            min:0,
            title: {
                text: 'Biomass'
            },
             plotBands: [{
                    from: {{ Blim_min }},
                    to: {{ Blim_max }},
                    color: '{{  colorBlim_range  }}',
                    label: {
                        text: 'Blim uncertainty range [{{ Blim_min }} ; {{ Blim_max }}] (.UVS)',
                        style: {
                            color: '{{ colorBlim_range_label  }}',
                        }
                    }
             }],

             plotLines: [{
                value: {{ Bmsy }},
                color: 'blue',
                dashStyle: 'shortdash',
                width: 2,
                zIndex:2,
                label: {
                    text: 'Bmsy [{{ Bmsy }}] (.UVS)',
                    align: 'right',
                    style: {
                        color: 'gray'
                    }
                }
            },
            {
                value: {{ Blim }},
                color: '{{ colorBlim  }}',
                dashStyle: 'shortdash',
                width: 2,
                zIndex:2,
                label: {
                    text: 'Blim [{{ Blim }}] (.UVS)',
                    align: 'left',
                    style: {
                        color: '{{ colorBlim_label  }}'
                    }
                }
            }]
        },
        tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: ' (UVS)'
        },
        legend: {
                enabled: false
        },
        series: {{ seriesBrange }}
    });
});