{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Scientific Advice {% endblock %}

{% block content %}

<p>
      The scientific body of ICCAT give you the projection
      of the biomass level under statu quo scenario:
</p>

<div class="panel panel-default">
         <!-- Default panel contents -->
         <div class="panel-heading">Scientific advice</div>
 <div class="panel-body" >
             <p></p>
    <div id="containerProjection" style="width: 500px; height: 250px; margin: 0 auto"></div>

  {% block scripts %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>

        <script>
            {% include "XP1p2/plot_projection.js.html" %}
        </script>

  {% endblock %}
 </div>
</div>

{% next_button %}

{% endblock %}
