{% extends "global/Base.html" %} {% load staticfiles otree_tags %} {% load list_filter %}

{% block title %} Estimation and Proposition  {% endblock %}

{% block content %}
   <div class="panel panel-default">
     <div class="panel-heading">Identification</div>
     <div class="panel-body" >

        <p> <b>ID :</b> {{ MyID }} </p>
        <p> <b>Player :</b> {{ MyName }}  </p>
        <p> <b> Round :</b> {{ Round }} , <b>Year :</b> {{ Year }}  </p>

      </div>
   </div>

   <div class="panel panel-default">
     <div class="panel-heading">Scientific advice</div>
            <div class="panel-body" >
                <p>The scientific body of ICCAT (SRCS) gives you an estimation  of the biomass level :</p>
                <div id="containerScientificAdvice" style="width: 500px; height: 250px; margin: 0 auto"></div>
                 {% block scripts %}
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <script src="https://code.highcharts.com/highcharts-more.js"></script>

                    <script>
                        {% include "XP1p1/plot_scientificAdvice.js.html" %}
                    </script>

                {% endblock %}
            </div>
     </div>
   </div>

     <p>
        Select your estimation of others nations cumulated harvest for this year.<br>
        This estimation must reflect your anticipation of concurrent harvesting strategy on which you decide your own strategy.
     </p>

        {% formfield player.other_choice with label="Estimate others harvest for the year" %}

    <p>
        Select your harvest level pledge to others nations for this year.<br>
        This proposal will be used to select your harvest level for the current year.<br>
        Keep in mind that all information will be public through <b>ICCAT</b> statistics.
    </p>

        {% formfield player.catch_pledge with label=" Make a proposal for your current harvest" %}

 <div class="panel panel-default">
        <!-- Default panel contents -->

   <div class="panel-heading"> Profit Table (10<sup>7</sup> €)</div>
   <div class="panel-body" >


        <style type="text/css">
                .tg  {border-collapse:collapse; margin-left:auto;margin-right:auto;border-color:#ccc;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
                .tg .tg-s6z2{text-align:center;background-color:#ffffff}
                .tg .tg-bdiw{font-weight:bold;background-color:#344bf9;color:#ffffff;text-align:center}
                .tg .tg-ipa1{font-weight:bold;background-color:#efefef;text-align:center}
        </style>

        <table class="tg">
          <tr>
            <th class="tg-bdiw" rowspan="2"> My harvest (10<sup>4</sup> t) </th>
            <th class="tg-bdiw" colspan="{{ Constants.dim_other_choice_catch }}"> Sum of choices made by others (10<sup>4</sup> t) </th>
          </tr>

          <tr>
            {% for data in  Constants.other_choice_catch %}
                <td class="tg-ipa1"> {{data}} </td>
            {% endfor %}
          </tr>

             {% for i in  j %}
               <tr>
                    <td class="tg-ipa1">  {{ Constants.choice_catch|index:i }} </td>
                   {% for e in  r %}  <td class="tg-s6z2">  {{ Payoff|index:i|index:e }} </td> {% endfor %}
               </tr>

            {% endfor %}

        </table>

    </div>

  </div>

 <div class="panel panel-default">
   <div class="panel-heading"> Biomass variation rate in Percentage </div>
   <div class="panel-body" >


        <style type="text/css">
                .tg  {border-collapse:collapse; margin-left:auto;margin-right:auto;border-color:#ccc;}
                .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
                .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;}
                .tg .tg-s6z2{text-align:center;background-color:#ffffff}
                .tg .tg-bdiw{font-weight:bold;background-color:#344bf9;color:#ffffff;text-align:center}
                .tg .tg-ipa1{font-weight:bold;background-color:#efefef;text-align:center}
        </style>

        <table class="tg">
          <tr>
            <th class="tg-bdiw" rowspan="2"> My harvest (10<sup>4</sup> t) </th>
            <th class="tg-bdiw" colspan="{{ Constants.dim_other_choice_catch }}"> Sum of choices made by others (10<sup>4</sup> t) </th>
          </tr>

          <tr>
            {% for data in  Constants.other_choice_catch %}
                <td class="tg-ipa1"> {{data}} </td>
            {% endfor %}
          </tr>

             {% for i in  j %}
               <tr>
                    <td class="tg-ipa1">  {{ Constants.choice_catch|index:i }} </td>
                   {% for e in  r %}  <td class="tg-s6z2">  {{ variation|index:i|index:e }} </td> {% endfor %}
               </tr>

            {% endfor %}

        </table>

    </div>

 </div>

 {% next_button %}


{% include Constants.functions_template  %}

{% endblock %}
