{% load staticfiles otree_tags %}
{% load staticfiles  %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        <b>Experimental rules</b>
    </h3>

    <h4 class="panel-sub-heading">
        <b>Context</b>
    </h4>
     <p>
         This experiment is concerned with the way nations involved in international fisheries make collective decisions.<br>
         You will play as a representative of a Bluefin tuna fishing nation involved in the
         <b>International Commission for the Conservation of Atlantic Tunas (ICCAT)</b><br>
         as aims to ensure sustainable exploitation of the stock ensuring a level of biomass to <b>maximum sustainable yield (MSY)</b>.<br>
         You will be assigned to a fishing nation which has the same characteristics in term of fishing efficiency and capacity as others.<br>
         You will harvest the same stock of resource, the Bluefin tuna stock, with other nations controlled by a manager, a player,
         but you don't know who are these players and how they plan their fishing activity.<br>
         As one of the 3 participants of the experiment, you will decide annually (each turn represents one year in this experiment)
         amount of catches for your national fishing fleet. Each participant is identical in terms of capacity and fishing technology.

     </p>
    <h4 class="panel-sub-heading">
        <b>Basic rules</b>
    </h4>

    <p align ="center">
        You will be paid proportionately to your profit during the experiment at a rate of :<br>
        <b> 1 (10<sup>7</sup> € in the experiment) = {{ Constants.convertionCurrency }} € </b><br>
        Additionally, <b> {{Constants.anticipation}} € </b> will be added for each correct anticipation of the cumulated harvest of the 2 other participants.
    </p>
    <p>
     <b> Remember some rules during the experiment:</b>
    </p>
      <ul>
        <li>Talking is not permitted.</li>
        <li>You are not permitted to operate other software such as email or internet during the experiment.</li>
        <li>You may ask questions to the instructor during the experiment if you have any problems. But keep in mind that you must make decisions and develop strategies by yourself.</li>
      </ul>
    <p>
      <b> If you don't follow these rules you will have to leave the experience and you will not be paid. </b>
    </p>

    <h4 class="panel-sub-heading">
        <b>Resource dynamic and Profit</b>
    </h4>
     <p>
         The resource supports a dynamic which is known from players and shown through the <b>''Growth function'' </b>.<br>
         This function gives you the growth potential of any stock level you left behind you.<br> The maximum growth is reached for a resource of <b>{{ Constants.Bmsy }}
         (10<sup>4</sup> tones)</b>.<br>
         Each year, each round, you will select the level of catch allowable for your fishing industry.<br>
         You can select this catch from <b>{{ Constants.min_catch }} to {{ Constants.max_catch }} (10<sup>4</sup> tones) </b>, so each a maximum of
         <b>{{ Constants.max_total_catch }} (10<sup>4</sup> tones)</b> can be harvested. <br>
         The profit expected from this catch is linked to the state of the resource and can be deduced from the <b>''Profit
         functions''</b>.<br>
         In view of this relationship, at the Maximum Sustainable Yield (MSY, the maximum harvest allowing a constant resource size)
         which represent a catch of <b>{{ Constants.Ymsy }} (10<sup>4</sup> tones) per year </b>, the total profit shared by all nations will be <b> 23.1 10<sup>7</sup> €</b>.
     </p>
    <h4 class="panel-sub-heading">
       <b> Treatments </b>
    </h4>
     <p>
         Depending on the treatment in which you are assiociated with, a critical level of biomass exists which determine an additional cost of <b> {{ Constants.tFixedCost }} 10<sup>7</sup> € </b>
         if the threshold <b>Blim</b> is exceeded.<br>
         This threshold represents a sudden shift in the management regime to mimic the socio-economic situation of the Atlantic bluefin tuna fishery.<br>
         The scientific committee of the <b>ICCAT</b> has an uncertain or a perfect (depending on the treatment) method to estimate the critical level of biomass.<br>
         This information is shared in the form of an accurate value of <b>Blim</b> or a range of values <b>[Blim,min:Bmin,max]</b>.
     </p>
    <h4 class="panel-sub-heading">
        <b>Phases</b>
    </h4>
     <p>
         Finally, during the experiment you will play 2 phases of this game with a different uncertainty on the resource state.<br>
         The accurate information about the resource size Bt will be deteriorate and you will have access only to the
         range of values <b>[Bmin,t;Bmax,t]</b> each year.
     </p>

    <p align="center">  <b>Good luck!</b> </p>


</div>