$(function () {
    $('#containerCatch').highcharts({
        title: {
            text: 'Catch (10^4 t)',
        },
        xAxis: {
            categories: {{ Constants.xp_years }},
        },
        yAxis: {
            min:0,
            title: {
                text: 'Catch'
            }
        },
        tooltip: {
            valueSuffix: ' (10^4 t)'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: {{ Catchseries }}
    });
});