{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Scientific Assessment {% endblock %}

{% block content %}

<div class="panel panel-default">
         <!-- Default panel contents -->
         <div class="panel-heading">Scientific Assessment</div>
 <div class="panel-body" >
             <p>The scientific body of ICCAT gives you the projection of the biomass level if the harvest level remains the same (statu quo):</p>
    <div id="containerProjection" style="width: 500px; height: 250px; margin: 0 auto"></div>

  {% block scripts %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>

        <script>
            {% include "XP1p1/plot_projection.js.html" %}
        </script>

  {% endblock %}
 </div>
</div>

{% next_button %}

{% endblock %}
