{% extends "global/Base.html" %} {% load staticfiles otree_tags %} {% load list_filter %}

{% block title %} Test {% endblock %}

{% block content %}

    <p>
        Before beginning the session, We want to make sure that you understand the dynamic process which drive the resource level.
    </p>

    <p>
        First of all, if at the beginning of the year the biomass is at a level of {{ Constants.b_test }}10<sup>4</sup> t, could you indicate how many units
        (in 10<sup>4</sup> t) the stock will regenerate for the next year ?

        {% formfield player.growthTest with label="Resource growth in 10^4 t for the year" %}

    </p>

    <p>
        Then, still with a stock of {{ Constants.b_test }} 10<sup>4</sup> t if the {{ Constants.players_per_group }} nations decide to harvest
        {{ Constants.c_test }} 10<sup>4</sup> t ({{ Constants.c_ind_test }} 10<sup>4</sup> t each), could you indicate how many
        profit (in 10<sup>7</sup> €) the harvest will generate this year?

        {% formfield player.profitTest with label="Total profit in 10^7 € for the year" %}

    </p>

    <p>
        Finally, still with a stock of {{ Constants.b_test }} 10<sup>4</sup> t and a total harvest of {{ Constants.c_test }} 10<sup>4</sup> t by
        the  {{ Constants.players_per_group }} coalitions ({{ Constants.c_ind_test }} 10<sup>4</sup> t each), could you indicate how many
        biomass will be available for the next year?

        {% formfield player.biomassTest with label="Biomass available in 10^4 t for the next year" %}

    </p>


    {% next_button %}

    {% include Constants.profitTable_template %}

    {% include Constants.functions_template  %}



{% endblock %}