{% extends "global/Base.html" %} {% load staticfiles otree_tags %} {% load list_filter %}

{% block title %} Test {% endblock %}

{% block content %}

    <p>
        Before beginning the session, We want to make sure you understand the dynamic process which drive the resource level.
    </p>

    <p>
        First of all, if at the beginning of the year the biomass is at a level of 25 UVS, could you indicate how many
        UVS the stock will regenerate for the next year ?

        {% formfield player.growthTest with label="Resource growth in UVS for the year" %}

    </p>

    <p>
        Then, still with a stock of 25 UVS if the 3 coalitions decide to harvest 9 UVS (3UVS each), could you indicate how many
        profit profit in UVM the harvest will generate this year?

        {% formfield player.profitTest with label="Total profit in UVM for the year" %}

    </p>

    <p>
        Finally, still with a stock of 25 UVS and a total harvest of 9 UVS by the 3 coalitions (3UVS each), could you indicate how many
        biomass in UVM will be available for the next year?

        {% formfield player.biomassTest with label="Biomass available in UVS fot the next year" %}

    </p>


    {% next_button %}

    {% include Constants.functions_template  %}

{% endblock %}