{% load staticfiles otree_tags %}
{% load staticfiles  %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        <b>Règles de l'Expérience</b>
    </h3>

    <h4 class="panel-sub-heading">
        <b>Contexte</b>
    </h4>
     <p align="center">
        <b> L'expérience à laquelle vous allez participer est destinée à l'étude de la prise de décision.<br>
            Nous vous demandons de lire attentivement les instructions, elles doivent vous permettre de bien comprendre l'expérience.
            Lorsque tous les participants auront lu ces instructions un expérimentateur procédera à une relecture à voix haute.<br>
            Nous vous demanderons ensuite de visionner un tutoriel vidéo afin de vous familiariser avec l’interface de l’expérience.
            Toutes vos décisions seront traitées de façon anonyme. Vous indiquerez vos choix à l'ordinateur devant lequel vous êtes assis(e).
            A partir de maintenant nous vous demandons de ne plus parler. Si vous avez une question levez la main et un expérimentateur viendra vous répondre en privé.</b>
     </p>
    <h4 class="panel-sub-heading">
        <b>Cadre général</b>
    </h4>
     <p>
         Cette expérience comporte deux parties, deux phases. Les instructions jointes sont celles de la partie 1 et 2.<br>
         Une des deux parties sera tirée au sort pour la rémunération. Votre gain à cette partie constituera votre gain pour l'expérience,
         il vous sera versé en liquide à la fin de l'expérience.<br>
         Vous allez représenter un pays pêcheur de <b>thon rouge Atlantique</b>. Vous et 2 autres participants allez former un groupe (en tonnes). <br>
         Vous et les membres de votre groupe allez avoir un accès commun à la ressource de thon rouge Atlantique. <br>
         Chacun d’entre vous, chaque période (qui représente une année), allez décider le niveau d’exploitation en unité de cette ressource. <br>
         Chaque unité exploitée vous rapportera des unités de profit (en euros).<br>
         Avant de prendre votre décision, vous devrez annoncer vos captures aux autres joueurs, <br>
         sans que celle-ci ne vous engage dans votre décision privée à venir : <b> vous pourrez la suivre ou pas. </b> <br>
         Vous devrez également estimer l’ensemble des captures des 2 autres membres de votre groupe. <br>
         Enfin, pour prendre vos décisions de captures en privées, vous aurez accès aux propositions de captures des
         autres membres de votre groupe ainsi que des informations sur l’état de la ressource de la part de la
         <b> Commission Internationale pour la Conservation des Thonidés Atlantique (CICTA) </b>.<br>
         <b> L'expérience dure un certain nombre de périodes, ce nombre vous est inconnu. </b> <br>
         <b> L’expérience prend également fin si la ressource est épuisée en raison de captures excessives.  </b>

     </p>

    <h4 class="panel-sub-heading">
        <b>Rémunération</b>
    </h4>

    <p >
        Si vous suivez les instructions et prenez les décisions appropriées, vous pourrez gagner de l’argent pour votre participation. <br>
        <b> Une des 2 parties </b> à laquelle vous allez participer sera sélectionnée et les profits que vous aurez accumulés en exploitant la ressource
        lors de cette partie de l’expérience seront convertis en euros, avec un taux de :  <br>
    </p>
    <p align="center">
        <b> 1 unité de profit (10<sup>7</sup> € dans l'expérience) = {{ Constants.convertionCurrency }} € </b> <br>
    </p>
    <p>
        Vous débuterez chaque phase de l’expérience avec <b>{{ Constants.baseProfit }} unités de profit </b>, soit <b>{{ Constants.baseProfitEuros }}€ </b>. <br>
        Vous serez également rémunéré(e) pour vos bonnes anticipations des niveaux de capture des autres participants, en cas de réussite,<br>
        vous gagnerez  <b> {{ Constants.anticipation }} € </b> pour chaque anticipation correcte de la capture des 2 autres participants.
    </p>

    <h4 class="panel-sub-heading">
        <b>Dynamique de la ressource </b>
    </h4>
     <p>
         La ressource de thon rouge croit chaque période (année) proportionnellement à la taille de la ressource au début de la période.
         A l’issue de la période, la quantité de ressource restante est égale à la quantité au début de la période plus la quantité qui s’est renouvelée
         moins la quantité pêchée au cours de la période. Si la quantité totale des captures excède la croissance de la ressource,
         alors la quantité de ressources déclinera. Si les captures sont inférieures la croissance de la ressource,
         alors la quantité de ressources augmentera en fin d'année. <br>
         Le <b>Rendement Maximal Durable (RMD)</b> corresponds alors à la quantité maximale de capture qui permet au stock de rester constant au cours des périodes.<br>
         Le niveau de la ressource peut atteindre un maximum de  <b>{{ Constants.carrying_capacity }} unités (10<sup>4</sup> t) </b>. <br>
         La fonction de croissance indique que la croissance annuelle atteint une valeur maximum de <b>{{ Constants.Ymsy }} unités (10<sup>4</sup> t)</b>
         si la ressource est compris entre 28 et 42 unités,
         puis diminue jusqu'à être nulle pour les deux niveaux extrêmes.<br>

    </p>

     <h4 class="panel-sub-heading">
        <b>Choix du niveau de capture </b>
    </h4>
     <p>
         Chaque période, vous serez informé(e) de la quantité de ressources et des propositions des participants de votre groupe.<br>
         Selon la partie (1 ou 2), l’information sur le niveau de la ressource sera certaine (quantité exacte connue) ou
         incertaine (quantité comprise dans un intervalle où chaque valeur à une probabilité équivalente d’être la quantité réelle).<br>
         Vous devrez alors sélectionner un niveau de capture compris entre <b>{{ Constants.min_catch }} et {{ Constants.max_catch }} unités (10<sup>4</sup>t)</b>. <br>
         Vous et les 2 autres membres de votre groupe pouvez exploiter au total <b>{{ Constants.max_total_catch }} unités</b> chaque période de jeu.
         Votre capture vous permettra de dégager un profit par période qui s'accumulera sur votre compte en banque.<br>
         Le profit dépend donc du montant des captures de l'année, mais sera également affecté par le niveau de la ressource (car il est plus coûteux de pêcher un poisson moins abondant).<br>
         La fonction de profit vous informe que le profit va diminuer lorsque la ressource diminue et lorsque la capture diminue. <br>
         Votre décision de capture est prise dans le secret en début chaque période, mais elle sera rendue publique (connue des autres joueurs) en fin de période.
    </p>


    <h4 class="panel-sub-heading">
       <b> Traitements </b>
    </h4>
     <p>
         Selon le traitement auquel vous êtes associé, un niveau critique de resssource <b>Blim</b> introduit un coût additionnel
         de <b>{{ Constants.tFixedCost }} unités (10<sup>7</sup> €) </b> tant que le niveau de la ressource reste inférieur à ce seuil.<br>
         Le comité scientifique de la <b>CICTA</b> vous informe de manière certaine ou incertaine (selon le traitement) du niveau de ce seuil de ressource.<br>
         Ces informations sont partagées sous la forme d'une valeur précise de <b> Blim </b> ou d'une plage de valeurs <b> [Blim,min: Bmin,max]</b>.
     </p>
    <h4 class="panel-sub-heading">
        <b>Phases</b>
    </h4>
     <p>
         Enfin, pendant l'expérience, vous jouerez 2 parties du même jeu avec une incertitude différente sur l'état de la ressource.<br>
         Les informations précises sur la taille de la ressource Bt se dégraderont et vous n'aurez accès qu'à la plage de valeurs <b> [Bmin,t; Bmax,t] </b> chaque année.
     </p>

     <p>
     <b> Quelques règles:</b>
    </p>
      <ul>
        <li>Aucune communication n'est autorisée entre les joueurs.</li>
        <li>Vous n’avez pas l’autorisation d’ouvrir d’autres fenêtres (pages web, logiciel…) durant l’expérience.</li>
        <li>Vous pouvez poser des questions à l’administrateur avant et durant l’expérience.</li>
      </ul>

    <p align="center">   Avant de démarrer l’expérience, vous serez invité à suivre un tutoriel vidéo présentant l’interface web de l’expérience. <br>
                            Cliquer sur le lien ci desous pour suivre le tutoriel de l'expérience :<br>
                                        https://www.youtube.com/channel/UCGfqn1JUXAgwhuGeHBzlGzQ
        </p>




</div>