{% extends "global/Base.html" %} {% load staticfiles otree_tags %}

{% block title %} Evaluation Scientifique {% endblock %}

{% block content %}

<div class="panel panel-default">
         <!-- Default panel contents -->
         <div class="panel-heading">Evaluation Scientifique</div>
 <div class="panel-body" >
             <p>La commission scientifique de la <b>CICTA</b> vous donne une estimation du niveau de biomasse:</p>
    <div id="containerProjection" style="width: 500px; height: 250px; margin: 0 auto"></div>

  {% block scripts %}
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>

        <script>
            {% include "XP1p1FR/plot_projection.js.html" %}
        </script>

  {% endblock %}
 </div>
</div>

{% next_button %}

{% endblock %}
