{% extends "global/Base.html" %} {% load staticfiles otree_tags %} {% load list_filter %}

{% block title %} Test {% endblock %}

{% block content %}

    <p>
        Avant de commencer la session expérimentale, nous voulons nous assurer que vous comprenez le processus dynamique de la ressource.
    </p>

    <p>
        Tout d'abord, si au début de l'année la biomasse se situe à {{ Constants.b_test }} 10<sup>4</sup> t,
        pourriez-vous indiquer le niveau de regénération du stock (en 10<sup>4</sup> t)?<br>
        Servez-vous de la fonction de croissance.

        {% formfield player.growthTest with label="Croissance de la ressource en 10^4 t pour l'année" %}

    </p>

    <p>
        Ensuite, toujours avec un stock de <b>{{ Constants.b_test }} 10<sup>4</sup> t </b> si les {{ Constants.players_per_group }} nations
        décident d'exploiter <b>{{ Constants.c_test }} 10<sup>4</sup> t</b> ({{ Constants.c_ind_test }} 10<sup>4</sup> t chacun),
        Pourriez-vous indiquer combien de bénéfices en 10 <sup> 7 </sup> € l'exploitation va générer cette année? <br>
        Servez-vous de la fonction de profit et du tableau des profits individuels.


        {% formfield player.profitTest with label="Profit total en 10^7 € pour l'année" %}

    </p>

    <p>Enfin, toujours avec un stock de <b>{{ Constants.b_test }} 10<sup>4</sup> t</b> et une capture totale de <b>{{ Constants.c_test }} 10<sup>4</sup> t</b> par les
        {{ Constants.players_per_group }} nations ({{ Constants.c_ind_test }} 10<sup>4</sup> t chacun), pourriez-vous indiquer combien de biomasse en 10 <sup> 7 </sup> €
        sera disponible pour l'année suivante? <br>

        {% formfield player.biomassTest with label="Biomasse disponible en 10^4 t pour l'année suivante" %}

    </p>


    {% next_button %}


    {% include Constants.functions_template  %}
    {% include Constants.profitTable_template %}


{% endblock %}