{% extends "global/Base.html" %} {% load staticfiles otree_tags %} {% load list_filter %}

{% block title %} About you  {% endblock %}

{% block content %}

    <p>
        Before beginning the session please give us some information about your profile.
    </p>

    {% formfield player.name with label="Your name" %}
    {% formfield player.profession with label="Your profession" %}
    {% formfield player.age with label="Your age" %}
    {% formfield player.playAs with label="Are you concerned with the subject of this study " %}


    {% next_button %}


{% endblock %}

